# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal
core/media/
staticfiles/
core/.env
core/backup.json

# Environment variables
.env
.env.local
.env.*.local

# Python
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environment
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Docker (only ignore these)
*.env.docker
.devcontainer/

# OS
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Flake8
.flake8
*.yml

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Dependencies
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# Environment variables
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Testing
frontend/coverage
frontend/*.lcov
frontend/.nyc_output

# Production
frontend/build
frontend/out

# Misc
frontend/.cache
frontend/.parcel-cache
frontend/.eslintcache
frontend/.stylelintcache

# OS
frontend/Thumbs.db
frontend/Desktop.ini

# Temporary files
frontend/*.tmp
frontend/*.temp
frontend/.tmp
frontend/.temp
