# Requirements for the project
django 
python-decouple
Pillow
djangorestframework
psycopg2
django-mail-templated
djoser



# third-party packages
markdown
django-filter
djangorestframework-simplejwt

# Requirements for Deployment


#refactoring 
flake8
flake8-django

# test
pytest
pytest-django
drf_spectacular
